# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2b9f2b9b994fe5687ce4b0e7efd2a529d217c9f0860c730b7a5580ff3d6cd08b66cc50fbaa54843a5fc680674feb2c5e235a973b0697143cc779d2bf457f824a

test:
  secret_key_base: d971bd40184a6e82095638ec13496455e85557dd21db59ff31766a457019f92a82f82d0c125ee8cc33ede32729d023a36c22c09484620c60f4ea3e9703e1c6de

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
